!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css"
    = stylesheet_link_tag "site"
  %body
    .navbar-fixed
      %nav
        .nav-wrapper
          %a
            = link_to 'About me', '#'
          %ul.right.hide-on-med-and-down
            %li
              = link_to 'Projects', '#'
            %li
              = link_to 'Experience', '#'
    = yield
    = partial 'partials/footer'
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"
    = javascript_include_tag "site"
